name: Update metrics card

on:
  schedule:
    - cron: "15 6 * * *"   
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          user: Riteri
          template: classic
          filename: github-metrics.svg
          output_action: commit
          config_timezone: Europe/Warsaw

          base: header, activity, community, repositories, metadata
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_isocalendar: yes
          plugin_achievements: yes
          plugin_achievements_threshold: A
          plugin_followup: yes
          plugin_lines: yes